.LoadBookings{
    width: 500px;
    height: 815px;
    padding-top: 5px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.LoadBookings h3{
    font-size: 21px;
}

